<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="2.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="2.0.1" targetFramework="net45" />
  <package id="DirectoryInfoEx" version="0.25.0" targetFramework="net45" />
  <package id="DropNet" version="1.9.6" targetFramework="net45" />
  <package id="ExifLib" version="1.5.1.0" targetFramework="net45" />
  <package id="HtmlTextBlock" version="1.0.1" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.1.0.0" targetFramework="net46" />
  <package id="MetroLog" version="0.8.6" targetFramework="net45" />
  <package id="RestSharp" version="104.1" targetFramework="net45" />
</packages>